
params { 

    project = 'b2016371'
    clusterOptions = false
    reads = "*_{R1,R2}.fastq"
    adapters = "/proj/b2016371/src/bbmap/resources/adapters.fa"
}

process {
    executor = 'slurm'
    clusterOptions = {
       " -A ${params.project}" + (params.clusterOptions ?: '')
    }
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'copy'

    //Resource and module requirements
    $bbduk {
        cpus = 4
        memory = 32.GB
        time = 20.m
    }

    $fastqc {
        module = 'bioinfo-tools:FastQC'
        cpus = 2
        time = 40.m
        memory = 16.GB
   
    }

    $spades {
        module = 'bioinfo-tools:spades'
        cpus = 8
        time = 3.h
        memory = 64.GB
    }

    $filter_scaffolds {
        cpus = 1
        time = 10.m
        memory = 8.GB
    }


}


