params { 
    project = 'b2016371'
    clusterOptions = false
    reads = "*_{R1,R2}.fastq"
    adapters = "/proj/b2016371/src/bbmap/resources/adapters.fa"
    output_dir = "./results4"
}

process {
    executor = 'slurm'
    clusterOptions = {
       " -A ${params.project}" + (params.clusterOptions ?: '')
    }
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'copy'

    //Resource and module requirements
    $bbduk {
        cpus = 1
        memory = 8.GB
        time = 20.m
    }

    $fastqc {
        module = 'bioinfo-tools:FastQC'
        cpus = 2
        time = 40.m
        memory = 16.GB
    }

    $shovill {
        cpus = 16
        time = 3.h
        memory = 32.GB
    }

    $stats {
        cpus = 1
        time = 20.m
        memory = 8.GB
   }

   $prokka {
        module = 'bioinfo-tools:prokka:BioPerl/1.6.924_Perl5.18.4:hmmer/3.1b2:barrnap/0.8:SignalP/4.1c:aragorn/1.2.36:prodigal/2.60'
        cpus = 1       
        time = 2.h
        memory = 8.GB
   }
}


