params { 
    project = 'b2016371'
    clusterOptions = false
    reads = "*_{R1,R2}.fastq"
    adapters = "/proj/b2016371/src/bbmap/resources/adapters.fa"
    mauve_ref = "/proj/b2016371/nobackup/BACTpipe/ref_genomes/Helicobacter_pylori_26695_NC000915.1.fna"
    mauve_path = "/proj/b2016371/nobackup/BACTpipe/tools/mauve_snapshot_2015-02-13/Mauve.jar"
    prokka_ref = "/proj/b2016371/nobackup/BACTpipe/ref_genomes/Hp_26695_w_phage_for_prokka_170920.faa"
    output_dir = "./results"
}

process {
    executor = 'slurm'
    clusterOptions = {
       " -A ${params.project}" + (params.clusterOptions ?: '')
    }
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'copy'

    //Resource and module requirements
    $bbduk {
        cpus = 1
        memory = 32.GB
        time = 20.m
    }

    $fastqc {
        module = 'bioinfo-tools:FastQC'
        cpus = 1
        time = 40.m
        memory = 16.GB
    }

    $spades {
        module = 'bioinfo-tools:spades/3.8.1'
        cpus = 3
        time = 3.h
        memory = 64.GB
    }

    $filter_scaffolds {
        cpus = 1
        time = 10.m
        memory = 8.GB
    }
    
    $mauve {
        module = 'java/sun_jdk1.8.0_40'
        cpus = 1
        time = 2.h
        memory = 32.GB
    }
   
    $rename {
        module = 'bioinfo-tools:python/2.7'
        cpus = 1
        time = 20.m
        memory = 8.GB
   }

   $prokka {
        module = 'bioinfo-tools:prokka:BioPerl/1.6.924_Perl5.18.4:hmmer/3.1b2:barrnap/0.8:SignalP/4.1c:aragorn/1.2.36:prodigal/2.60'
        cpus = 1       
        time = 2.h
        memory = 64.GB
   }
}


