// vim: syntax=groovy expandtab

params {
    clusterOptions = false
    reads = "*_R{1,2}.fastq.gz"
    bbduk_adapters = "/home/ctmr/db/bbmap_resources/adapters.fa"
    mashscreen_database = "/db/refseq/refseq.genomes.k21s1000.msh"
    output_dir = "BACTpipe_results"
}

process {
    executor = 'local'
    clusterOptions = {
      " -A ${params.project}" + (params.clusterOptions ?: '')
    }
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'copy'

    //Resource and module requirements
    $screen_for_contaminants {
       cpus = 8
       time = 15.m
    }
    $bbduk {
       cpus = 4
       time = 15.m
    }
    $fastqc {
       cpus = 2
       time = 30.m
    }
    $shovill {
       cpus = 8
       time = 1.h
    }
    $prokka {
        cpus = 1
        time = 2.h
    }
}

