// vim: syntax=groovy expandtab
// BACTpipe Nextflow configuration file for use on CTMR Gandalf

params {
    project = 'bio'
}

process {
    errorStrategy = 'terminate'
    executor = 'slurm'
    clusterOptions = {
        " -A ${params.project}" + (params.clusterOptions ?: '')
    }
    scratch = false
    stageInMode = 'copy'
    stageOutMode = 'copy'

    withName:
    FASTP {
        cpus = 2
        time = 20.m
        conda = 'bioconda::fastp'
    }

    withName:
    SHOVILL {
        cpus = 10
        time = 2.h
        conda = 'bioconda::shovill bioconda::bwa=0.7.16 python=3'
    }

    withName:
    SCREEN_FOR_CONTAMINANTS {
        cpus = 2
        time = 30.m
        conda = 'bioconda::bbmap python=3.9.0'
    }

    withName:
    ASSEMBLY_STATS {
        cpus = 1
        time = 20.m
        conda = 'bioconda::bbmap'
    }

    withName:
    PROKKA {
        cpus = 4
        time = 2.h
        conda = 'bioconda::prokka'
    }

    withName:
    MULTIQC {
        cpus = 1
        time = 10.m
        conda = 'bioconda::multiqc'
    }
}
