// vim: syntax=groovy expandtab
// BACTpipe Nextflow configuration file

params {
    reads = "*_{1,2}.fastq.gz"
}

process {
    errorStrategy = 'ignore'
    executor = 'local'
    scratch = false
    stageInMode = 'symlink'
    stageOutMode = 'symlink'

    //Resource and module requirements
    withName: fastp {
       cpus = 4
       time = 15.m
       conda = 'bioconda::fastp=0.20.0'
    }
    withName: screen_for_contaminants {
       cpus = 8
       time = 15.m
       conda = 'bioconda::bbmap=38.76'
    }
    withName: shovill {
       cpus = 8
       time = 1.h
       conda = 'bioconda::shovill=1.0.9 bioconda::bbmap=38.76'
    }
    withName: prokka {
        cpus = 1
        time = 2.h
        conda = 'bioconda::prokka=1.14.5'
    }
    withName: multiqc {
        cpus = 1
        time = 10.m
        conda = 'bioconda::multiqc=1.8'
    }
}

