// vim: syntax=groovy expandtab
// BACTpipe Nextflow configuration file
process {
    errorStrategy = 'ignore'
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'copy'

    //Resource and module requirements

    withName:
    FASTP {
        cpus = 4
        container = 'quay.io/biocontainers/fastp:0.20.1--h8b12597_0'
    }

    withName:
    SHOVILL {
        cpus = 4
        container = 'quay.io/biocontainers/shovill:1.1.0--0'
    }

    withName:
    SCREEN_FOR_CONTAMINANTS {
        cpus = 4
        container = 'quay.io/abhi18av/screen_for_contaminants'
    }

    withName:
    ASSEMBLY_STATS {
        cpus = 4
        container = 'quay.io/biocontainers/bbmap:38.87--h1296035_0'
    }

    withName:
    PROKKA {
        cpus = 8
        container = 'quay.io/biocontainers/prokka:1.14.6--pl526_0'
    }

    withName:
    MULTIQC {
        cpus = 4
        container = 'quay.io/biocontainers/multiqc:1.9--py_1'
    }
}
