// vim: syntax=groovy expandtab
// BACTpipe Nextflow configuration file

params { 
    reads = "*_{R1,R2}.fastq.gz"
    adapters = "$HOME/adapter_file/adapters.fa"
    output_dir = "./BACTpipe_output"
}

process {
    executor = 'local'  
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'copy'

    //Resource and module requirements
    $screen_for_contaminants {
        cpus = 1
        time = 20.m
    }
    $bbduk {
        cpus = 1
        time = 20.m
    }
    $fastqc {
        cpus = 1
        time = 40m
    }
    $shovill {
        cpus = 1
        time = 3.h
    }
    $stats {
        cpus = 1
        time = 20.m
   }
   $prokka {
        cpus = 1
        time = 2.h
   }
}
