// vim: syntax=groovy expandtab
// BACTpipe Nextflow configuration file
process {
    errorStrategy = 'ignore'
    executor = 'local'
    scratch = true

    //Resource and module requirements

    withName:
    FASTP {
        cpus = 4
        time = 20.m
        conda = 'bioconda::fastp'
    }

    withName:
    SHOVILL {
        cpus = 4
        time = 3.h
        conda = 'bioconda::shovill'
    }

    withName:
    CLASSIFY_TAXONOMY {
        cpus = 4
        time = 30.m
        conda = 'bioconda:kraken2'
    }

    withName:
    ASSEMBLY_STATS {
        cpus = 1
        time = 20.m
        conda = 'bioconda::bbmap'
    }

    withName:
    PROKKA {
        cpus = 4
        time = 2.h
        conda = 'bioconda::prokka'
    }

    withName:
    MULTIQC {
        cpus = 1
        time = 10.m
        conda = 'bioconda::multiqc'
    }
}
