// vim: syntax=groovy expandtab
// BACTpipe Nextflow configuration file
process {
    errorStrategy = 'ignore'
    executor = 'local'
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'copy'

    //Resource and module requirements

    withName:
    FASTP {
        cpus = 1
        time = 20.m
        conda = 'bioconda::fastp'
    }

    withName:
    SHOVILL {
        cpus = 1
        time = 3.h
        conda = 'bioconda::shovill'
    }

    withName:
    SCREEN_FOR_CONTAMINANTS {
        cpus = 1
        time = 30.m
        conda = 'bioconda::bbmap python=3.9.0'
    }

    withName:
    ASSEMBLY_STATS {
        cpus = 1
        time = 20.m
        conda = 'bioconda::bbmap'
    }

    withName:
    PROKKA {
        cpus = 1
        time = 2.h
        conda = 'bioconda::prokka'
    }

    withName:
    MULTIQC {
        cpus = 1
        time = 10.m
        conda = 'bioconda::multiqc'
    }
}
