// vim: syntax=groovy expandtab
// BACTpipe Nextflow configuration file
process {
    executor = 'slurm'
    clusterOptions = {
       " -A ${params.project}" + (params.clusterOptions ?: '')
    }
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'copy'

    //Resource and module requirements
    $screen_for_contaminants {
        cpus = 1
        memory = 8.GB
        time = 20.m
    }
    $bbduk {
        cpus = 1
        memory = 8.GB
        time = 20.m
    }
    $fastqc {
        module = 'bioinfo-tools:FastQC'
        cpus = 2
        time = 40.m
        memory = 16.GB
    }
    $shovill {
        cpus = 16
        time = 3.h
        memory = 32.GB
    }
    $prokka {
        module = 'bioinfo-tools:prokka:BioPerl/1.6.924_Perl5.18.4:hmmer/3.1b2:barrnap/0.8:SignalP/4.1c:aragorn/1.2.36:prodigal/2.60'
        cpus = 1
        time = 2.h
        memory = 8.GB
    }
    $multiqc {
        executor = 'local'
        cpus = 1
        time = 10.m
    }
}

