// vim: syntax=groovy expandtab
params {
    clusterOptions = false
    output_dir = "BACTpipe_results"
    reads = ""  // Set on command line as e.g.: --reads 'path/to/*_R{1,2}.fastq.gz'

    mashscreen_database = ""  // Often set in specific profiles

    bbduk_adapters = ""  // Often set in specific profiles
    bbduk_minlen = "30"
    bbduk_qtrim = "rl"
    bbduk_trimq = "10"
    bbduk_ktrim = "r"
    bbduk_k = "30"
    bbduk_mink = "11"
    bbduk_hdist = "1"
    bbduk_trimbyoverlap = "trimbyoverlap"  // Set to empty string to disable
    bbduk_trimpairsevenly = "trimpairsevenly"  // Set to empty string to disable

    shovill_depth = "100"
    shovill_kmers = "31,33,55,77,99,127"
    shovill_minlen = "500"

    prokka_evalue = "1e-09"
    prokka_kingdom = "Bacteria"
}
