// vim: syntax=groovy expandtab
// BACTpipe Nextflow configuration file

process {
    errorStrategy = 'ignore'
    executor = 'slurm'
    clusterOptions = {
       " -A ${params.project}" + (params.clusterOptions ?: '')
    }
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'copy'

    //Resource and module requirements
    withName: fastp {
        module = 'bioinfo-tools:fastp'
        cpus = 1
        time = 10.m
    }

    withName: shovill {
        module = 'bioinfo-tools:shovill'
        cpus = 8
        time = 30.m
    }
	
    withName: assembly_stats {
        module = 'bioinfo-tools:bbmap'
	cpus = 1
        time = 20.m
    }
	
    withName: screen_for_contaminants {
        conda = 'bioconda::bbmap python=3.9.0'
        cpus = 1
	time = 10.m    
    }
	
    withName: prokka {
        module = 'bioinfo-tools:prokka'
        cpus = 1
        time = 30.m
    }
	
    withName: multiqc {
        module = 'bioinfo-tools:MultiQC'
        cpus = 1
        time = 30.m
    }
}


