// vim: syntax=groovy expandtab
// BACTpipe Nextflow configuration file

params { 
    bbduk_adapters = "$BBMAP_HOME/resources/adapters.fa"
    mashscreen_database = "/proj/uppstore2017086/db/refseq.genomes.k21s1000.msh"
}

process {
    executor = 'slurm'
    clusterOptions = {
       " -A ${params.project}" + (params.clusterOptions ?: '')
    }
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'copy'

    //Resource and module requirements

    $screen_for_contaminants {
        module = 'python'
        cpus = 2
        time = 30.m
    }
    $bbduk {
        module = 'bioinfo-tools:bbmap'
        cpus = 1
        memory = 8.GB
        time = 20.m
    }
    $fastqc {
        module = 'bioinfo-tools:FastQC'
        cpus = 2
        time = 40.m
        memory = 16.GB
    }
    $shovill {
        cpus = 16
        time = 3.h
        memory = 32.GB
    }
    $prokka {
         cpus = 1
         time = 2.h
         memory = 8.GB
    }
    $multiqc {
         cpus = 1
         time = 10.m
    }
}


