// vim: syntax=groovy expandtab
// BACTpipe Nextflow configuration file

params {
}

process {
    errorStrategy = 'ignore'
    executor = 'slurm'
    clusterOptions = {
       " -A ${params.project}" + (params.clusterOptions ?: '')
    }
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'copy'

    //Resource and module requirements

    withName: screen_for_contaminants {
        module = 'bioinfo-tools:bbmap'
        cpus = 1
	memory = 8.GB
        time = 30.m
    }
    withName: fastp {
        module = 'bioinfo-tools:fastp'
        cpus = 1
        time = 20.m
        memory = 8.GB
    }
    withName: assembly_stats {
        module = 'bioinfo-tools:bbmap'
	cpus = 1
        time = 20.m
    }
    withName: shovill {
        module = 'bioinfo-tools:shovill'
        cpus = 16
        time = 2.h
        memory = 54.GB
    }
    withName: prokka {
        module = 'bioinfo-tools:prokka'
        cpus = 1
        time = 2.h
        memory = 8.GB
    }
    withName: multiqc {
        module = 'bioinfo-tools:MultiQC'
        cpus = 1
        time = 1.h
    }
}


